<div class="flex flex-col justify-center items-center mb-5 md:flex-row">
  <select
    name="mediaType"
    [(ngModel)]="searchType"
    class="border-2 text-center text-gray-800 border-black rounded h-12 px-5 lg:mr-5 mb-2 md:mb-0"
  >
    <option value="q">Query</option>
    <option value="keywords">Keywords</option>
  </select>
  <form class="w-full md:w-3/5" (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <div class="flex flex-col md:flex-row items-center">
      <input
        class="w-4/5 border-2 border-gray-500 rounded h-12 p-5 mb-2 md:mb-0 md:w-3/5"
        type="text"
        [(ngModel)]="searchTerm"
        name="searchTerm"
        required
        placeholder="Search NASA Images"
        aria-label="Search NASA Images"
      />

      <!-- Add dropdown menu here -->
      <select
        name="mediaType"
        [(ngModel)]="mediaType"
        class="border-2 text-center text-gray-800 border-black rounded h-12 px-5 lg:ml-5 mb-2 md:mb-0"
      >
        <option value="all">All</option>
        <option value="video">Video</option>
        <option value="image">Image</option>
      </select>

      <button
        class="rounded-full bg-indigo-500 pr-10 pl-10 h-12 lg:ml-5"
        type="submit"
      >
        Search
      </button>
    </div>
  </form>
</div>
